.container{
    position: relative;
    @apply flex flex-col items-center bg-[#202020] text-white w-full py-4;
    @apply rounded-2xl border-b-black border-b-8;
    z-index:0;
}

.container:before{
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(90deg, #FBD407 0%, #FB2032 78%, #FB2032 100%); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
    @apply rounded-t-2xl pt-1;
    z-index: -1;
}

.content{
    @apply w-full overflow-scroll;
}

.portfolio_table {
    @apply w-full;
}

.portfolio_table thead {
    @apply nexa-reg-18;
}

.portfolio_table tbody {
    @apply nexa-reg-16 text-[#B8B8B8];
}

.portfolio_table tbody tr {
    @apply border-t-2 border-[#323131];
}

.portfolio_table tr td{
    @apply py-4 px-4;
}

.token_symbol {
    @apply bg-[#383838] text-[#5F5F5F] montserrat-med-14;
    width: fit-content;
}
